@import "tailwindcss";

@theme{
    --font-inter: "Inter";
    --font-poppins: "Poppins";
}
*{
    scrollbar-width: none;
}
.loader-spin{
    animation: spin 5s linear infinite ;
}
@keyframes spin{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

html {
  scroll-behavior: smooth;
}

/* In your globals.css or a dedicated CSS file */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Track color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4); /* Thumb color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6); /* Thumb color on hover */
}